@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.graph {
    @include mobile-layout;
    width: 300px;

    &__container {
        border: solid 1px $secondary-light-grey;
        margin: 1rem;
        border-radius: 0.625rem;
        height: 7.5rem;
    }

    &__title {
        text-transform: uppercase;
        margin: 0;
        padding: 0.5rem;
    }
}