@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.button {
    @include mobile-layout;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5.5rem;


    &__cancel {
        color: $primary-cyan;
        background-color: $primary-white;
        text-transform: uppercase;
        border: none;
        width: 50%;
        font-weight: 600;
        height: 2.5rem;
        cursor: pointer;
    }

    &__track {
        color: $primary-white;
        background-color: $primary-cyan;
        text-transform: uppercase;
        border: none;
        width: 50%;
        height: 2.5rem;
        border-radius: 0.625rem;
        cursor: pointer;
    }
}