@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.button {

    &__cancel {
        color: $primary-cyan;
        background-color: transparent;
        text-transform: uppercase;
        border: none;
        font-weight: 600;
        height: 2.5rem;
        cursor: pointer;
        width: 100%;
        min-width: 9rem;
    }

    &__track {
        color: $primary-white;
        background-color: $primary-cyan;
        text-transform: uppercase;
        border: none;
        height: 2.5rem;
        border-radius: 0.625rem;
        cursor: pointer;
        width: 100%;
        min-width: 9rem;
    }
}