@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.button {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;

    &__cancel {
        color: $primary-cyan;
        background-color: $primary-white;
        text-transform: uppercase;
        border: none;
        width: 40%;
        font-weight: bold;
    }

    &__track {
        color: $primary-white;
        background-color: $primary-cyan;
        text-transform: uppercase;
        border: none;
        width: 40%;
        height: 2rem;
        border-radius: 0.625rem;
        font-weight: bold;
    }
}