@use '../../styles/partials/variables' as *;

//Breakpoints
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

//Layout Grid
@mixin mobile-layout {
    margin: 2rem 1.75rem;
}

//Padding
@mixin mobile-header-padding {
    padding: 1.5rem 1rem 1rem 1rem;
}

@mixin mobile-padding {
    padding: 1rem;
}