//Responsive Design
$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px

//Colors
$primary-cyan: #006969;
$primary-turquoise: #6FBBB1;
$primary-white: #FFFFFF;
$secondary-dark-grey: #26262C;
$secondary-light-grey: #D1D0D0;