@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.calendar {
    @include mobile-layout;
    color: $secondary-dark-grey;
    border-bottom: solid 0.1rem $secondary-light-grey;
    padding-bottom: 1rem;

    &__title {
        display: flex;
        padding: 0 0.5rem;
    }

    &__month {
        margin: 0;
    }

    &__expand-icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    &__week-date {
        display: flex;
        justify-content: space-between;
        padding: 0 0.5rem;
        height: 3rem;
    }

    &__week-day {
        display: flex;
        justify-content: space-between;
        padding: 0 0.5rem;
    }

    &__weekday {
        margin: 0.5rem 0;
        text-align: center;
    }

    &__date {
        font-weight: 600;
        text-align: center;
        padding-top: 0.25rem;
    }

    &__today {
        background-color: $primary-turquoise;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        color: $primary-white;
    }
}