@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.insights {
    @include mobile-layout;
    background-color: $primary-cyan;
    border-radius: 0.625rem;
    padding: 1rem;

    &__title {
        text-transform: uppercase;
        margin: 0;
    }

    &__item {
        color: $primary-white;
    }
}