@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.nav {
    background-color: $primary-cyan;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 2rem;


    &__icon-compass,
    &__icon-track,
    &__icon-profile {
        width: 2.25rem;
        height: 2.25rem;
    }
}