@use '../styles/partials/global' as *;
@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;

.login {
    background-color: $primary-cyan;
    height: 115vh;

    &__logo {
        display: flex;
        width: 75%;
        margin: 0 auto;
        filter: brightness(0) invert(1);
    }

    &__form {
        @include mobile-layout;
        display: flex;
        flex-direction: column;
        padding: rem 0 3rem 0;
    }

    &__label {
        color: $primary-white;
        margin-top: 0.5rem;
    }

    &__input {
        border-radius: 0.25rem;
        border: 0.1rem solid $primary-cyan;
        height: 2.5rem;
        opacity: 90%;
    }

    &__button {
        color: $primary-cyan;
        text-transform: uppercase;
        border: none;
        height: 2.5rem;
        border-radius: 0.625rem;
        cursor: pointer;
        margin: 2rem;
        background-color: $primary-turquoise;
    }
}