@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    @include mobile-layout;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 0.1rem $secondary-light-grey;

    &__avatar-frame {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: $secondary-light-grey;
    }

    &__title {
        margin: 0.5rem;
    }
}