@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.journal-entry {
    @include mobile-layout;

    &__input {
        height: 2.75rem;
        width: 100%;
        margin: 0.25rem 0;
        border-radius: 0.625rem;
        text-align: end;
        font-family: "Quicksand", sans-serif;
        font-size: 0.75rem;
        color: $secondary-light-grey;
        padding-right: 0.5rem;
        border: 0.1rem solid $secondary-light-grey;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;


        &--highlight {
            background-image: url(../../assets/icons/highlight-icon.svg);
            background-repeat: no-repeat;
            background-position: left;
            background-size: 1.75rem;
        }

        &--lowlight {
            background-image: url(../../assets/icons/lowlight-icon.svg);
            background-repeat: no-repeat;
            background-position: left;
            background-size: 1.75rem;
        }
    }

    &__input:focus {
        border: 0.1rem solid $primary-cyan;
        color: $primary-cyan;
    }

    &__button {
        @include mobile-layout;
        display: flex;
        justify-content: flex-end;
        margin: 1.5rem 0 0 0;
    }
}